header {
    background-color: #001270;
    color: white;
    font-size: 24px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    vertical-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.rowheader {
    font-weight: bold;
    border: none !important;
    background-color: snow;
    border: 1px solid lightgrey;
    padding-left: 10px;
    border
}

.ourcontainer {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#article-container {
    border: 5px solid red;
}
